.action-f{
    background: linear-gradient( #233540 ,#233540, #141F26);
    border: 0.5rem solid hsl(10, 10%, 100%);
    border-radius: 2rem;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    margin: auto;
    padding: 20px;
    text-align: center;
    max-width: 450px;
    color: #f2f2f2;

}

.card{
    border: 0.5rem solid hsl(10, 10%, 100%);
    border-radius: 5rem;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: center;
    justify-content: center;
    max-width: 80%;
    background: linear-gradient( #233540 ,#233540, #141F26);
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}


.card .image-card{
    border: 0.5rem solid hsl(10, 10%, 100%);
    max-width: 80%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 1rem;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card .image-card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;

}

.card .name{
    color: #F5EFE7;
}

.card .who{
    text-align: center;
    color: #F5EFE7;
    margin: 4px;
}

.card .about{
    text-align: center;
    color: #F5EFE7;
    margin: 3px;
}

@media (width > 768px) {
    
    .action-f{
        margin-bottom: 2rem;
    }

    .card{
        max-width: 48%;
        margin-left: 1rem;
        display: inline-block;
    }

    .card .image-card{
        max-width: 50%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1rem;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    
}

@media (width > 1024px) {

    .action-f{
        margin-bottom: 2rem;
    }

    .card{
        max-width: 48%;
        margin-left: 1rem;
        display: inline-block;
    }

    .card .image-card{
        max-width: 50%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1rem;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    
}